/* Scrollbars */

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    background: rgb(230, 240, 240);
    color: black
}

/* Hover Effect */

.hoverable {
    transition: .3s;
}

.hoverable:hover {
    transition: .3s;
    opacity: 0.8;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2)!important
}
 
/* Float Animation*/

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}


/* Typing effect */

@-webkit-keyframes typeBlink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}

@keyframes typeBlink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}

.typeBlink {
    border-right: 0.08em solid #000;
}

.typeBlink {
    -webkit-animation: typeBlink 1s step-end infinite;
    animation: typeBlink 1s step-end infinite;
}

/* Highlight */

::selection {
    background-color: #333;
    color: #fff;
}

::-moz-selection {
    background-color: #333;
    color: #fff;
}

::-o-selection {
    background-color: #333;
    color: #fff;
}

::-ms-selection {
    background-color: #333;
    color: #fff;
}

::-webkit-selection {
    background-color: #333;
    color: #fff;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

img::-webkit-selection {
    background: transparent;
}

/* Text */

h1, h2, h3, h4, h5 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
    font-size: 18px;
}

/* Links */

a {
    color: #333;
    transition: .3s
}

a:hover {
    transition: .3s;
    color: #888
}

/* Navbar */

header {
    padding: 0 7.5%
}

.navigation a {
    color: #888;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    vertical-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: auto 0;
    font-weight: 500;
}

.navigation a:hover {
    color: #000
}

.navigation .selected {
    color: #000
}

/* Footer */

footer {
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
    font-size: 14px
}

.icons {
    position: fixed;
    bottom: 50px;
    right: 40px;
    width: 100%;
}

.icons a {
    margin: 0 .35rem;
}

.icons a:hover {
    text-decoration: none;
}

.tooltip-inner {
    white-space: nowrap;
    max-width: none;
}

/* Mobile Styling */

@media (max-width:576px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    body {
        overflow-y: hidden;
    }
    header {
        padding: 0
    }
    header img {
        padding: 0
    }
    .navigation a {
        width: auto;
        margin: auto;
        padding: auto;
    }
    .nav-link {
        padding-top: .5rem;
    }
    .navbar-toggler {
        margin-bottom: 1rem;
    }
    .row {
        flex-direction: column;
        text-align: center;
    }
    img {
        text-align: center;
        flex-direction: column;
    }
    .icons {
        visibility: hidden;
    }
}